@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text-primary font-sans antialiased selection:bg-primary/30 selection:text-white;
    overflow-x: hidden;
  }
}

@layer utilities {
  .text-stroke-dynamic {
    -webkit-text-stroke: 2px #0f172a; /* slate-900 */
    color: transparent;
  }
  .dark .text-stroke-dynamic {
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
  }
}

/* Lenis Recommended CSS */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}